.intro-icon {
    width: 63px;
    height: 63px;
    margin-left: 20px;
}

.intro-item {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 18px;
}

.intro-info {
    margin-left: 20px;
}

.intro-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 28px;
    text-align: left;
}

.mb30 {
    margin-bottom: 30px;
}