.checkbox-name {
    padding-left: 5px;
}
// .button{
//     background-color: #fff;
.btn-login{
    .dangkylam{
        color: #000;
        padding-right: 3px;
    }
   .header-auth{
    background-color: #fff;
   }
}
