.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px 17px 0px 0px;
}

.hero-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-info {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #5c5c5c;
    margin-top: 32px;
}

.hero-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .info-end {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #053865;
    }
}
